<div class="subbody-one">

    <h2><b>Проучвателно стрес-тестване</b></h2>
    <p>Проучвателното стрес-тестване е подход за подчиняване на система. Приложение или компонент на набор от необичайни параметри или условия които са малко вероятни да се появят в реалния свят но все пак са възможни. Като цяло проучвателното тестване може да бъде разглеждано като единен процес на учене, дизайн на тестването и изпълняване на тестването. Най-често този вид стрес-тестове се проектират чрез промяна на вече съществуващи тестове и/или работа с администратори на приложението/системата за да се създадат малко вероятни но възможни условия в системата. Този тип стрес тестване се провежда рядко в изолация защото обикновено се прави с цел да се определи дали повече системни стрес-тестове са нужни за свързан с определена грешка режим. Следните са няколко примера за проучвателно стрес тестване за да се определи отговора на въпроса „Как ще реагира системата ако…?“</p>
    <ul>
        <li>Всички потребители се логват по едно и също време.</li>
        <li>Разпределителя на работа (load balancer) изведнъж се чупи.</li>
        <li>Всички сървъри започват сканиране за вируси по едно и също време докато са в пиков момент на натовареност.</li>
        <li>Базата данни се изключи по време на пикова употреба на системата.</li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")
</div>
