<div class="subbody-one">

    <h2><b>Как да използваме информацията дадена тук</b></h2>
    <p>Използвайте информацията дадена тук за да разберете основните похвати на стрес тестването и стъпките които се прилагат при стрес тестването на уеб приложение. За да схванете възможно най-добре нещата:</p>
    <ul>
        <li>Използвайте секциите “Input” и “Output”, за да разберете ключовите входове и изходи при този вид тестване.</li>
        <li>Използвайте секцията “Подход към Стрес-тестване”, за да разберете с какъв подход да тествате уеб приложение, и като бърза справка за вас и вашия екип</li>
        <li>Използвайте секцията “Различни стъпки”, за да разберете подробностите на всяка стъпка при стрес тестването на уеб приложение.</li>
        <li>Използвайте секцията “Сценарии за Стрес-тестване”, за да разберете различни реални сценарии, при които се прилага стрес тестване.</li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")
</div>
