
<div class="subbody-one">

    <h2><b>Input</b></h2>
    <p>За да приложите стрес-тестване, по-добре използвайте като справка едно от следните неща:</p>
    <ul>
        <li>Резултати от предишни стрес-тестове</li>
        <li>Характеристики за използване на приложение (сценарии)</li>
        <li>Работа при тези сценарии при екстремни условия</li>
        <li>Характеристики при профилно натоварване</li>
        <li>Текущ пиков капацитет на натоварване</li>
        <li>Архитектура и информация за хардуер и мрежа</li>
        <li>Оценка на риска при бедствия</li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>