
<div class="subbody-one">

    <h2><b>Output</b></h2>
    <p>Резултатите от стрес-тестовете може да включват:</p>
    <ul>
        <li>Мерки на приложението при стресиращи условия</li>
        <li>Симптоми на приложението при стрес</li>
        <li>Информация, която екипът може да използва, за да определи здравината, наличността и надеждността</li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>