
<div class="subbody-one">
    <h2><b>Обща информация за стрес тестването</b></h2>
    <p>Стрес тестването е тип тестване на производителността (performance), фокусирано към това да се определи здравината (robustness), наличността (availability) и надеждността (reliability) на нашето уеб приложение при екстремни условия, които представляват тежка натовареност, висока паралелност или ограничени изчислителни ресурси. Целта на стрес тестването е да се определят проблеми в приложението които изникват или стават видими само при такива екстремни условия. Правилното стрес тестване ни помага да намерим бъгове за синхронизация и време, блокиращи проблеми, проблеми с приоритетите и бъгове за загуба на ресурси. Идеята е да се стресира системата до точка на чупене, за да се намерят бъгове, които ще направят тази точка потенциално вредна. Не се очаква от системата да обработи претоварването без адекватни ресурси, а да се държи по някакъв приемлив начин (например да се провали без да повреди или загуби данни).</p>
    <p>Стрес тестването обикновено включва симулирането на един или повече важни за продукта сценария при разнообразие от стресиращи условия. Например може да качим уеб приложението си на сървър на който вече има приложение използващо много от ресурсите на процесора. Тогава нашето приложение веднага е лишено от нужните му изчислителни ресурси и трябва да се бори с другите приложения за процесорни цикли. Също така може да се тества и само една уеб страница или дори само един артикул като някаква процедура или клас. Информацията тук представлява инструкции на високо ниво за стрес тестване на уеб приложения. Това може да помогне за откриване на проблеми, които възникват само при екстремни ситуации.</p>
    @Html.ActionLink("Начало", "Index", "Home")


</div>