<div class="subbody-one">

    <h2><b>Референции:</b></h2>
    <ul>
        <li><a href="http://msdn.microsoft.com/en-us/library/bb924374.aspx">http://msdn.microsoft.com/en-us/library/bb924374.aspx</a></li>
        <li><a href="http://docs.seleniumhq.org">http://docs.seleniumhq.org</a></li>
        <li><a href="http://tsung.erlang-projects.org">http://tsung.erlang-projects.org</a></li>
        <li><a href="http://jmeter.apache.org">http://jmeter.apache.org</a></li>
        <li><a href="http://www.webresourcesdepot.com/15-free-functionality-and-load-testing-tools-for-web-applications/">http://www.webresourcesdepot.com/15-free-functionality-and-load-testing-tools-for-web-applications/</a></li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
