
<div class="subbody-one">

    <h2><b>Стъпка 1 - Определяне на целите на стрес-тестването.</b></h2>
    <p>Питайки себе си и други хора следните въпроси може да помогне за определянето на исканите резултати от стрес-тестването:</p>
    <ol>
        <li><i>Определянето на начините по които приложението може да се срине катастрофално цел на теста ли е?</i></li>
        <li><i>А осигуряването на информация за екипа който работи по него, за да се изградят защити срещу това сриване?</i></li>
        <li><i>Целта да се види как приложението се държи, когато системните ресурси, като памет, дисково пространство, скорост на интернета или честотата на процесора, са ограничени ли е?</i></li>
        <li><i>4.	Имаме ли за цел да осигурим това функционалността да не се развали при стрес? </i></li>
        <p>Например, може да има случаи където показателите на изпълнението на операциите да отговарят на изискванията, но функционалността на приложението не им отговаря – поръчките не се запазват в базата данни, приложението не връща пълна информация за продукта при търсене, формите не са попълнени правилно, препратки към страници за грешки се получават по време на стрес тестването и така нататък.</p>
    </ol>
    @Html.ActionLink("Начало", "Index", "Home")


</div>