
<div class="subbody-one">

    <h2><b>Стъпка 3 – Определяне на натоварване. </b></h2>
    <p>Натоварването, което прилагате при определен сценарий би трябвало да стресира системата отвъд праговите граници за да ви позволи да наблюдавате последиците от условията на стрес. Един от методите да се определи това натоварване, при което приложението започва да показва признаци на стрес е постепенно да се увеличава натоварването и да се наблюдава поведението на приложението при различните степени на натоварване. Целта е систематично да се тества при различни натоварвания докато не се стигне до крашване или значима грешка. Тези вариации на натовареност могат да се постигнат чрез добавяне на още потребители, намаление на времето за забавяне, добавяне или намаляне на броя и типа на представените дейности на потребителите или настройване на информацията за тестване.</p>
    <p>Например, стрес-теста може да бъде измислен така че да симулира логване на всеки регистриран потребител да се опитва да се логне в системата за период от 30 секунди. Това ще симулира ситуация при която приложението става налично отново след период на изключване и всички потребители са рефрешвали своя уеб браузър, чакайки приложението да стане достъпно. Въпреки че тази ситуация не се появява често в реалния свят, става достатъчно често за да има смисъл от това да разберем как приложението ще работи ако се случи.</p>
    <p>Не забравяйте да представите натоварването чрез точни и реалистични данни – тип и обем, логване на различни потребители, ID-та на продукти, категории на продукти и така нататък – което ни позволява да симулираме важни проблеми като безизходици или употреба на ресурси.</p>
    <p>Следните дейности са полезни за определянето на точно натоварване за стрес тестване:</p>
    <ul>
        <li><b>Определяне на разпределението на работата.</b></li>
        <p>За всеки ключов сценарий, определете разпределението на работата което ще се симулира. Разпределението се основава на броя и типа на потребители, които ще изпълняват сценария по време на стрес тестване.</p>
        <li><b>Определете пиковото натоварване от потребители. </b></li>
        <p>Определете максимума на потребителите които се очакват да използват системата при условия за пиково натоварване на системата. Използвайки разпределението на работата за всеки сценарий, изчислете процента потребители за всеки ключов сценарий.</p>
        <li><b>Определете anti-profile. </b></li>
        <p>Като алтернатива може да започнете като приложите анти-профил към нормалното натоварване. При анти-профила процентите на разпределението на работа са обърнати спрямо сценария на прилагане. Например ако нормалното натоварване за сценарий на процес на поръчка е 10 процента от целия капацитет то при анти-профила ще бъде 90 процента. Останалото натоварване може да бъде разпределено сред другите сценарии. Използването на анти-профил може да послужи като важна начална точка за нашето стрес тестване, защото то осигурява това че критичните сценарии се прилагат при товар отвъд нормалните условия на натоварване.</p>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>