<div class="subbody-one">

    <h2><b>Стъпка 4 – Определяне на показателите. </b></h2>
    <p>Когато се определят правилно, показателите осигуряват информация за това колко добре или зле работи нашето приложение спрямо нашите изисквания за производителност. В допълнение показателите могат да помогнат за откриване на проблемни области и затруднения при приложението.</p>
    <p>Използвайки исканите характеристики за производителност определени при стъпката <b>„Определяне на целите на стрес-тестването.“</b> се определят показатели които да се вземат, които се фокусират на потенциални клопки при всеки сценарий. Показателите могат да се отнасят както към производителността така и към исканите цели, както и да осигуряват информация за потенциални проблеми.</p>
    <p>Използвайки исканите характеристики за производителност определени при стъпката „Определяне на целите на стрес-тестването.“ се определят показатели които да се вземат, които се фокусират на потенциални клопки при всеки сценарий. Показателите могат да се отнасят както към производителността така и към исканите цели, както и да осигуряват информация за потенциални проблеми.</p>
    <table id="table-style">
        <tr>
            <th>Показатели за производителност</td>
            <th>Категория</td>
        </tr>
        <tr>
            <td><b>Базов набор от показатели</b></td>
            <td></td>
        </tr>
        <tr>
            <td>Процесор</td>
            <td><ul><li>Употреба на процесора</li></ul></td>
        </tr>
        <tr>
            <td>Процес</td>
            <td>
                <ul>
                    <li>Използване на паметта</li>
                    <li>Оползотворяване на процесора</li>
                    <li>Цикли на процесора</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Памет</td>
            <td>
                <ul>
                    <li>Свободна памет</li>
                    <li>Оползотворяване на паметта</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Диск</td>
            <td>
                <ul>
                    <li>Използване на диска</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Мрежа</td>
            <td>
                <ul>
                    <li>Използване на мрежата</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Транзакция/бизнес показател</td>
            <td>
                <ul>
                    <li>Транзакция за секунда</li>
                    <li>Успели транзакции</li>
                    <li>Не успели транзакции</li>
                    <li>Успели заявки</li>
                    <li>Не успели заявки</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Нишка</td>
            <td>
                <ul>
                    <li>Процеси за секунда</li>
                    <li>Затруднения</li>
                    <li>Разпределение на нишки</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Време за отговор</td>
            <td>
                <ul>
                    <li>Време за транзакции</li>
                </ul>
            </td>
        </tr>
    </table>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
