<div class="subbody-one">

    <h2><b>Стъпка 6 – Симулиране на натоварване. </b></h2>
    <p>След като сте направили предишните стъпки до приемливо ниво, трябва да сте готови да симулирате натоварването което се поражда от стрес тестването. Типично, изпълнението на теста включва следните стъпки:</p>
    <ol>
        <li>Убедете се/Валидирайте че средата за тестване отговаря на конфигурациите, които сте очаквали и/или за които сте проектирали своя тест.</li>
        <li>Гарантирайте, че и теста и средата за тестване са правилно конфигурирани според показателите.</li>
        <li>Преди да проведете теста изпълнете бърз “smoke test” за да сте сигурни че тестовия скрипт и отдалечените системи за следене на производителността работят правилно.</li>
        <li>Рестартирайте системата (Освен ако сценарият казва да се направи обратното) и започнете официалното тестване на приложението.</li>
    </ol>
    <p><b>Бележка:</b> Убедете се, че клиентският компютър който използвате за да генерирате натоварването не е стресиран. Използването на ресурси като процесор и памет трябва да останат достатъчно ниски за да се подсигури че генератора на товар не е затруднен.</p>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
