<div class="subbody-one">

    <h2><b>Стъпка 7 – Анализиране на резултатите. </b></h2>
    <p>Анализирайте данните получени от тестването и ги сравнете с допустимото ниво на показателите. Ако резултатите определят че вашите изисквания за производителност не са покрити, анализирайте и оправете причината за проблема. За да се адресират прегледаните проблеми, може да има нужда да се направи едно от следните неща:</p>
    <ul>
        <li>Направете преглед на дизайна.</li>
        <li>Направете преглед на кода.</li>
        <li>Направете стрес-тестове в среди където е възможно да се дебъгват възможните причини за грешките по време на изпълнение на теста.</li>
    </ul>
    <p>В ситуации, където се наблюдават проблеми с производителността, но само при условия които се считат за малко вероятни да гарантират промяна в момента, може да решите да направите допълнителни тестове за да откриете ранни индикатори за проблем и да предотвратите нежелани изненади.</p>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
