
<div class="subbody-one">

    <h2><b>Някои инструменти за стрес-тестване:</b></h2>
    <ul>
        <li><b>Apache JMeter™</b></li>
        <img src="~/Content/images/52_02.jpg">
        <ol>
            <li>Способност на тества натоварването и производителността на много различни типове сървъри/протоколи:</li>
            <ul>
                <li>Web - HTTP, HTTPS</li>
                <li>SOAP</li>
                <li>FTP</li>
                <li>База данни през JDBC</li>
                <li>LDAP</li>
                <li>Message-oriented middleware (MOM) през JMS</li>
                <li>Mail - SMTP(S), POP3(S) and IMAP(S)</li>
                <li>MongoDB (NoSQL)</li>
                <li>Native commands or shell scripts</li>
                <li>TCP</li>
            </ul>
            <li>Пълна портативност и 100% чиста Java.</li>
            <li>GUI дизайна позволява по бързо планиране на тестови план и дебъгване.</li>
            <li>Кеширане и офлайн анализиране/инициализиране на тест резултатите.</li>
            <li>Високо разширяемо ядро.</li>
        </ol>


        <br>


        <li><b>Selenium</b></li>
        <img src="~/Content/images/52_03.jpg">
        <p>Selenium има различни проекти, които могат да се комбинират и да се създаде среда за тестване на здравина.</p>
        <ul>
            <li><b>Selenium IDE: </b>ад-он за Firefox за записване и пускане не тестове.</li>
            <li><b>Selenium Remote Control: </b>Система клиент/сървър за управление на уеб браузъри локално или други компютри, използвайки почти всеки програмен език и тестващ framework.</li>
            <li><b>Selenium Grid: </b>като selenium Remote Control, но прави тестове на много сървъри по едно и също време.</li>
            <li><b>Selenium Core: </b>Тестваща система базирана на Javascript.</li>
        </ul>


        <br>


        <li><b>Tsung</b></li>
        <img src="~/Content/images/52_04.gif">
        <p>Tsung може да се използва за стрес-тестване на почти всякакви сървъри включително:</p>
        <ul>
            <li>HTTP</li>
            <li>WebDAV</li>
            <li>SOAP</li>
            <li>PostgreSQL, MySQL</li>
            <li>Jabber/XMPP Сървъри</li>
            <li>LDAP</li>
        </ul>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>