<div class="subbody-one">

    <h2><b>Примери за симптоми, свързани със Стрес</b></h2>
    <p>Симптомите свързани със Стрес включват:</p>
    <ul>
        <li>Данните са загубени или повредени.</li>
        <li>Използването на ресурсите остава неприемливо след като стреса е премахнат.</li>
        <li>Компонентите на приложението отказват при отговор.</li>
        <li>Необработени изключения се представят на потребителя.</li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
