<div class="subbody-one">

    <h2><b>Сценарии за Стрес-Тестване</b></h2>
    <p>Следните са примери за това как се използва стрес-тестването на практика:</p>
    <ul>
        <li><b>Стрес тестване на приложение. </b></li>
        <p>Този тип тест обикновено се фокусира върху повече от една транзакция на системата под стрес, без да има изолация на компоненти. При стрес-тестването на приложения, е много вероятно да откриете дефекти свързани със заключването и блокирането на данни, претоварване на мрежата и затруднение на производителността при различни компоненти или методи във приложението. Понеже обхвата на приложението е едно единствено приложение, е често да се използва този тип стрес-тестване след опит за натоварване на здравината на приложението чрез тестване или като последна тестова фаза за планиране на капацитет. Също така е често да се откриват дефекти свързани с състояния на процеси и изтичане на основна памет от споделен код или компонент.</p>
        <li>Стрес тестване на транзакции. </li>
        <p>Стрес-тестването на транзакции се цели към работата на транзакционно ниво с обем на натоварване който излиза извън нормите на този на очакваните операции на продуктивност. Тези тестове се фокусират на валидирането на поведението при условия на стрес, като високо натоварване с едни и същи ограничения на ресурсите, при тестване на цялото приложение. Тъй като тестът изолира индивидуална транзакция или група от транзакции той позволява много специфично разбиране на капацитета на пропусквателност и на други характеристики за индивидуални компоненти без добавената сложност за комуникацията между вътрешните компоненти, която се появява при тестване на ниво приложение. Тези тестове са полезни за премяна, оптимизиране и откриване на условия за грешки на специфичното ниво на компоненти.</p>
        <li><b>Системно стрес тестване. </b></li>
        <p>При този тип тестване стресови или условия за екстремно натоварване са генерирани при много приложения, работещи на една и съща система и по този начин да се преминат границите на очакваните за приложението възможности на още по-високо ниво. Целта на системното стрес-тестване е да се открият дефекти в ситуации където различни приложения се блокират взаимно и се борят за системни ресурси като памет, процесор, пространство на диска и мрежа. Този тип тестване е познат още като интеграционно стрес-тестване или консолидирано стрес тестване. При големи системни стрес-тестове се стресират всички приложения едновременни в една и съща консолидирана среда. Някои организации предпочитат да проведат този вид тестване в големи лаборатории, понякога с помощта на разработчиците на хардуера и софтуера.</p>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
