<div class="subbody-one">

    <h2><b>Подход към Стрес тестване</b></h2>
    <p>Следните стъпки са свързани със стрес-тестването на уеб приложение:</p>
    <ol>
        <li><b>Стъпка 1 – Определяне на целите на стрес-тестването. </b></li>
        <p>Определяне на целите на стрес-тестването спрямо желания резултат от процеса.</p>
        <li><b>Стъпка 2 – Определяне на ключов/и сценарий/сценарии. </b></li>
        <p>Определяне на сценарии или случаи за приложението, за които да се направи стрес-тестване, за да се открие потенциален проблем.</p>
        <li><b>Стъпка 3 – Определяне на натоварване. </b></li>
        <p>Определяне на натовареността, която тестващия иска да приложи при сценариите, определени в предната стъпка. Основава се на натовареността и пиковият капацитет на натоварване.</p>
        <li><b>Стъпка 4 – Определяне на показателите. </b></li>
        <p>Определят се показателите, които искаме да съберем от работата на приложението. После се разглеждат спрямо резултатите и потенциалните проблеми определени в стъпката за определяне на целите на стрес тестването.</p>
        <li><b>Стъпка 5 – Създаване на случаи за тестване. </b></li>
        <p>Създават се тестови случаи в които се определят стъпките за провеждане на един тест, както и очакваните резултати.</p>
        <li><b>Стъпка 6 – Симулиране на натоварване. </b></li>
        <p>Използват се инструменти за тестване, които да симулират нужната натовареност за всеки тестови случай и да вземе резултатите за показателите.</p>
        <li><b>Стъпка 7 – Анализиране на резултатите. </b></li>
        <p>Анализират се показателите взети по време на тестването.</p>
    </ol>
    <p>Тези стъпки са графично изобразени отдолу. Следващата секция обяснява всяка от тези стъпки подробно.</p>
    <figure>

        <img src="~/Content/images/52_02.jpg" />
        <figcaption><b>Фигура 1</b> Стъпки при стрес-тестване</figcaption>
    </figure>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
