<div class="subbody-one">

    <h2><b>Примери за стрес условия</b></h2>
    <p>Примерите за стрес условия включват:</p>
    <ul>
        <li>Огромен обем от гледна точка или на потребителите или на информацията; примерите могат да включват отказ от услуга (denial of service), атаки или ситуация, където към много популярни новини, например страница за тях, са отправени много заявки за преглед в период от три минути.</li>
        <li>Ограничение на ресурсите, породено например от отказване на дисковото устройство или мястото на което са записани те.</li>
        <li>Неочаквано зацикляне.</li>
        <li>Неочаквано завиване по време на възстановяването.</li>
    </ul>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
