<div class="subbody-one">
    <h2><b>Заключение</b></h2>

    <p>Стрес тестването ни позволява да определим потенциални грешки или проблеми на приложението които се появяват само при екстремни условия. Такива условия варират от изтощение на системните ресурси като памет, процесор, мрежа и капацитет на диска до огромно натоварване в следствие на непредвидими начини на употреба, присъщи за уеб приложенията. Стрес-тестването се центрира около цели и ключови сценарии със наблягане върху здравината, надеждността и стабилността на приложението. Ефективността на стрес-тестването зависи от прилагането на правилната методология и способността правилно да се анализират резултатите от тестването. Прилагането на правилната методология зависи от капацитета за възпроизвеждане на условия за натовареност както за потребителската работа така и за обема на информацията, възпроизвеждането на ключови сценарии и интерпретирането на ключовите показатели за производителност.</p>
    @Html.ActionLink("Начало", "Index", "Home")


</div>
