<a name="01"></a>
<div class="body-text">

    <div class="credentials">
        <p>Изготвено от:</p>
        <p>Мариан Грауров</p>
        
        <img src="~/Content/images/52_09.JPG" height=35% width=35% style="margin: auto">
        <p>фак.номер: 61567, 2 курс, гр. 3, Софтуерно инженерство</p>
        <p>email: marian_graurov@abv.bg</p>
        <a href=https://www.facebook.com/marian.graurov style="text-decoration: none;">Facebook</a>
        <br>
        <p>Курс: Уеб технологии</p>
        <p>Разработено: 2014 година</p>
        <p>Преподавател: Милен Петров</p>
        <br>
        @Html.ActionLink("Реферат","Index","Home")

    </div>

    <br>

</div>