@{
    ViewBag.Title = "Home Page";
}


    

        <h1><b>Инструменти за стрес-тестове на уеб приложения</b></h1>
        <br>
        <div class="credentials">
            <p>Изготвено от:</p>
            <p>Мариан Грауров</p>
            <p>фак.номер: 61567, 2 курс, гр. 3, Софтуерно инженерство</p>
            <p>Курс: Уеб технологии</p>
            <p>Разработено: 2014 година</p>
            <p>Преподавател: Милен Петров</p>
            @Html.ActionLink("Повече за автора","About","Home")
        </div>


