@using BitCalculator.Models
@model DataModel

@{
    ViewBag.Title = "BitCalculator";
}

@Html.HiddenFor(m => m.Kilo)
@Html.HiddenFor(m => m.Quantity)
@Html.HiddenFor(m => m.Type)
<h2>BitCalculator</h2>

<form>
    <label for="quantity">Quantity</label>
    <br>
    <input id="get-quantity" name="quantity" value="1" />
    <br>

    <label for="type">Type</label>
    <br>
    <select name="type">
        <option value=0>bit - b</option>
        <option value=1>Byte - B</option>
        <option value=2>Kilobit - Kb</option>
        <option value=3>Kilobyte - KB</option>
        <option value=4>Megabit - Mb</option>
        <option value=5 selected="selected">Megabyte - MB</option>
        <option value=6>Gigabit - Gb</option>
        <option value=7>Gigabyte - GB</option>
        <option value=8>Terabit - Tb</option>
        <option value=9>Terabyte - TB</option>
        <option value=10>Petabit - Pb</option>
        <option value=11>Petabyte - PB</option>
        <option value=12>Exabit - Eb</option>
        <option value=13>Exabyte - EB</option>
        <option value=14>Zettabit - Zb</option>
        <option value=15>Zettabyte - ZB</option>
        <option value=16>Yottabit - Yb</option>
        <option value=17>Yottabyte - YB</option>
    </select>
    <br>
    <label for="kilo">Kilo</label>
    <br>
    <select name="kilo">
        <option value="1024" selected="selected">1024</option>
        <option value="1000">1000</option>
    </select>
    <br>
    <input type="button" onclick=generateTable() value="Go!"/>
    <!--<input onclick="generateTable()" type="submit" value="Go" />-->
    <br>
</form>
<hr>

<div class="table-content"></div>

<script>
    generateTable();

    function generateTable() {
        try{
            var form = $('form');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BitCalculator","Home")',
                data: form.serialize(),

                success: function (html) {
                    $('.table-content').html(html);
                },
                error: function () {
                    $('.table-content').html("Error");
                }
            })
        }
        catch(ex){
            console.dir(ex.message);
        }
        return false;
    }
    </script>