@using BitCalculator.Models
@model DataModel

@{
    ViewBag.Title = "Bit Calculator";
}

<h2>@ViewBag.Title.</h2>

<form action="/Home/Index" method="post">
    <label for="quantity">Quantity</label>
    <br>
    <input name="quantity" value="0" />
    <br>

    <label for="type">Type</label>
    <br>
    <select name="type">
        <option value="b">bit - b</option>
        <option value="B">Byte - B</option>
        <option value="Kb">Kilobit - Kb</option>
        <option value="KB">Kilobyte - KB</option>
        <option value="Mb">Megabit - Mb</option>
        <option value="MB" selected="selected">Megabyte - MB</option>
        <option value="Gb">Gigabit - Gb</option>
        <option value="GB">Gigabyte - GB</option>
        <option value="Tb">Terabit - Tb</option>
        <option value="TB">Terabyte - TB</option>
        <option value="Pb">Petabit - Pb</option>
        <option value="PB">Petabyte - PB</option>
        <option value="Eb">Exabit - Eb</option>
        <option value="EB">Exabyte - EB</option>
        <option value="Zb">Zettabit - Zb</option>
        <option value="ZB">Zettabyte - ZB</option>
        <option value="Yb">Yottabit - Yb</option>
        <option value="YB">Yottabyte - YB</option>
    </select>
    <br>
    <label for="kilo">Kilo</label>
    <br>
    <select name="kilo" onchange="change()" class="form-control">
        <option value="1024" selected="selected">1024</option>
        <option value="1000">1000</option>
    </select>
    <br>
    <input type="submit" value="Go" />
    <br>
    <hr>

    <table>
        <thead>
            <tr>
                <td colspan="2">
                    Storage (Kilo = 1024 bits)
                </td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td width="120">Bit</td>
            <td width="150">8388608</td>
            </tr>
        <tr>
            <td width="120">Byte</td>
            <td width="150">1048576</td>
            </tr>
        <tr>
            <td width="120">Kilobit</td>
            <td width="150">8192</td>
            </tr>
        <tr>
            <td width="120">Kilobyte</td>
            <td width="150">1024</td>
            </tr>
        <tr>
            <td width="120">Megabit</td>
            <td width="150">8</td>
            </tr>
        <tr>
            <td width="120">Megabyte</td>
            <td width="150">1</td></tr>
        <tr>
            <td width="120">Gigabit</td>
            <td width="150">0.0078125</td>
            </tr>
        <tr>
            <td width="120">Gigabyte</td>
            <td width="150">0.0009765625</td>
            </tr>
        <tr>
            <td width="120">Terabit</td>
            <td width="150">7.62939453125E-6</td>
            </tr>
        <tr>
            <td width="120">Terabyte</td>
            <td width="150">9.5367431640625E-7</td>
            </tr>
        <tr>
            <td width="120">Petabit</td>
            <td width="150">7.4505805969238E-9</td>
            </tr>
        <tr>
            <td width="120">Petabyte</td>
            <td width="150">9.3132257461548E-10</td>
            </tr>
        <tr>
            <td width="120">Exabit</td>
            <td width="150">7.2759576141834E-12</td>
            </tr>
        <tr>
            <td width="120">Exabyte</td>
            <td width="150">9.0949470177293E-13</td>
            </tr>
        <tr>
            <td width="120">Zettabit</td>
            <td width="150">7.105427357601E-15</td>
        </tr>
        <tr>
            <td width="120">Zettabyte</td>
            <td width="150">8.8817841970013E-16</td>
            </tr>
        <tr>
            <td width="120">Yottabit</td>
            <td width="150">6.9388939039072E-18</td>
        </tr>
        <tr>
            <td width="120">Yottabyte</td>
            <td width="150">8.673617379884E-19</td>
            </tr>    
        </tbody>
    </table>
</form>